{% if user['rank_id'] == 4 or user['rank_id'] == 3 and user['author_id'] == article['author_id'] %}
    <a href="?action=deleteArticle&amp;id={{ article['id'] }}">delete</a>
    <a href="?action=editArticle&amp;id={{ article['id'] }}">edit</a>
{% endif %}
<div class="imgTitlePage imgTitleArticle" style="background-image: url({{ article['img'] }})">
    <div class="blockTitlePage">
        <h1>Actualité</h1>
        <div class="likeTitlePage"><img class="greenHeart" src="./assets/images/greenHeart.svg">{{ article['like'] }} personnes aiment</div>
        <h3>{{ article['title']|raw }}</h3>
        <p>{{ article['description'] }}</p>
    </div>
</div>
<div class="blockArticleSimilarArticle">
    <article class="blockNews">
        <div class="flexNews">
            <div class="flexNewsContent">
                {{ article['content']|raw|nl2br }}
            </div>
        </div>
        <img src="./assets/images/imgNews2.svg">
    </article>
    <div class="similarArticle">
        <div class="titleSimilarArticle">
            ARTICLES SIMILAIRES
        </div>
        <div class="itemSimilarArticle">
            <div class="textItemSimilarArticletext">Le SuperVegan</div>
        </div>
        <div class="itemSimilarArticle">
            <div class="textItemSimilarArticletext">Le SuperVegan</div>
        </div>
        <div class="itemSimilarArticle">
            <div class="textItemSimilarArticletext">Le SuperVegan</div>
        </div>
    </div>
    <div class="addComment">
        <img src="./assets/images/logo_sloth.svg" width="50px">
        <div class="commentsInputButton">
            <input id="inputComment" name="comment" type="text" placeholder="Qu'en avez vous pensé? ...">
            <button class="buttonComments">Publier</button>
        </div>
        <div class="dateComment">3j  <img src="./assets/images/dateCommentImg.svg" width="50px"></div>
    </div>
    <div class="blockComments">

    </div>
    <div class="blockImgHowToVeganBot">
        <img class="imgNewsBot" src="./assets/images/imgHowToVeganBot.svg">
    </div>
{% endblock %}
{% block script %}
    <script src="./assets/scripts/comment.js"></script>
{% endblock %}
