{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - {{ article['title']|raw }}{% endblock %}

{% block content %}
    <h1>{{ article['title']|raw }}</h1>

    <article>
        <div>{{ article['content']|raw|nl2br }}</div>
    </article>
    <br>
    <div class="ratings">
        <button id="btn-like" value="like"><i class="far fa-thumbs-up"></i></button>
        <button id="btn-dislike" value="dislike"><i class="far fa-thumbs-down"></i></button>
        <input type="hidden" id="article-id" value="{{ article['id'] }}">
        <input type="hidden" id="author-id" value="{{ user['author_id'] }}">
    </div>
    <br>
    <hr>
    {% if user['rank_id'] == 3 or user['rank_id'] == 2 and user['author_id'] == article['author_id'] %}
    <a href="?action=deleteArticle&amp;id={{ article['id'] }}">delete</a>
    <a href="?action=editArticle&amp;id={{ article['id'] }}">edit</a>
    {% endif %}
    {% for comment in comments %}
        <div>
            {{ comment[2]|raw }}
            <div class="ratingsComments">
                <button class="btn-like-comment" value="like"><i class="far fa-thumbs-up"></i></button>
                <button class="btn-dislike-comment" value="dislike"><i class="far fa-thumbs-down"></i></button>
                <input type="hidden" class="comment-id" value="{{ comment[0] }}">
            </div>
            <br><br>REPLY:
            <br>{% for rep in reply %}
                {% if comment[0] == rep[1] %}
                    {{ rep[2]|raw }}
                    <div class="ratingsComments">
                        <button class="btn-like-comment" value="like"><i class="far fa-thumbs-up"></i></button>
                        <button class="btn-dislike-comment" value="dislike"><i class="far fa-thumbs-down"></i></button>
                        <input type="hidden" class="comment-id" value="{{ rep[0] }}">
                        <div class="vote"></div>
                    </div>
                {% endif %}
            {% endfor %}
            <br><form method="POST" action="?action=addComment&amp;id={{ article['id'] }}&amp;idComment={{ comment[0] }}">
            comment :<input type="text" name="subComment">
            <button name="btn-subComment">Enter</button>
            </form>
        </div>
        <hr>
    {% endfor %}
    <br>comments:
    <form action="?action=addComment&amp;id={{ article['id'] }}" method="POST">
    <input name="comment" type="text">
    <button name="btn-comment">enter</button>
    </form>
    <hr>
{% endblock %}
{% block script %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
<script src="./assets/scripts/ratings.js"></script>
    <script>
        window.onload = function () {
            var formRateComment = document.querySelectorAll('.formRateComment');
            var selectRateComment = document.querySelectorAll('.selectRateComment');
            var selectValue = 1;

            for (var i=0; i<selectRateComment.length; i++) {
                selectRateComment[i].onchange = function () {
                    return selectValue = this.value;
                };
            }
            for (var i=0; i<formRateComment.length; i++) {
                if(localStorage.getItem("rate " + document.querySelectorAll('.idComment')[i].innerHTML)){
                    formRateComment[i].style.display = 'none';
                    var rate = document.querySelectorAll('.rate');
                    rate[i].innerHTML = "rate: " + localStorage.getItem("rate " + document.querySelectorAll('.idComment')[i].innerHTML)
                }
                else {
                    formRateComment[i].onsubmit = function () {
                        var idComment = this.querySelector('.idComment').innerHTML;
                        localStorage.setItem("rate " + idComment, selectValue);
                        this.style.display = 'none';
                    };
                }
            }
        }
    </script>
{% endblock %}