{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - {{ article['title']|raw }}{% endblock %}

{% block content %}
    <h1>{{ article['title']|raw }}</h1>

    <article>
        <div>{{ article['content']|raw|nl2br }}</div>
    </article>
    <a href="?action=deleteArticle&amp;id={{ article['id'] }}">delete</a>
    <a href="?action=editArticle&amp;id={{ article['id'] }}">edit</a>
    {% for comment in comments %}
        <div>
            {{ comment[2]|raw  }}
        </div>
    {% endfor %}
{% endblock %}