{% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - {{ article['title']|raw }}{% endblock %}

{% block content %}
    <h1>{{ article['title']|raw }}</h1>

    <article>
        <div>{{ article['content']|raw|nl2br }}</div>
    </article>
    <br>
    <br>
    <hr>
    {% if user['rank_id'] == 3 or user['rank_id'] == 2 %}
    <a href="?action=deleteArticle&amp;id={{ article['id'] }}">delete</a>
    <a href="?action=editArticle&amp;id={{ article['id'] }}">edit</a>
    {% endif %}
    {% for comment in comments %}
        <div>
            {{ comment[2]|raw  }}
        </div>
        <hr>
    {% endfor %}
    <br>comments:
    <form method="POST">
    <input name="comment" type="text">
    <button>enter</button>
    </form>
    <hr>
{% endblock %}